body{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: #3cabeb;
    grid-template-rows: 150px 800px 800px 1fr;
}

h1{
    padding: 0;
}
header{
    background-color: #3cabeb;
    grid-row: 1/2;
    grid-column: 1/3;
}

.contact-content{
    padding-left: 40px;
    padding-right: 40px;
    grid-row: 3/4;
    grid-column: 1/3;
    margin:40px;
    border: 5px;
    border-style: solid;
    background-color: white;
}

.form-content{
    padding-left: 40px;
    padding-right: 40px;
    grid-row: 2/3;
    margin:40px;
    grid-column: 1/3;
    border: 5px;
    border-style: solid;
    background-color: white;
}

footer{
    grid-row: 4/5;
    grid-column: 1/3;
}

#foot{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 150px 20px;
}

#foot-wheely{
    grid-column:1/3;
    grid-row: 2/3;
}
#foot-text{
    grid-column: 1/3;
    grid-row: 3/4
}

#footer-contact-text{
    grid-column: 1/3;
    grid-row: 1/2;
}
/*contact content*/

.contact-content{
    text-align: center;
    display: grid;
    grid-template-rows: 105px 1fr;
}


#contact-text{
    font-size: 120%;
    margin-bottom: 0;
    padding-top: 30px;
    text-align: left;
    grid-row: 2/3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contact-header{
    padding-bottom: 20px;
}


.fill-form{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}
/* form content */

.form-content{
    text-align: center;
}

#form-box{
    width: 100%;
    border: none;
}

/*contact form */

label{
    margin-top: 20px;
    font-size: 170%;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    text-align: left;
    font-weight: lighter;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  

  input[type=submit] {
    background-color: rgb(60, 171, 235);
    padding: 16px;
    font-size: 160%;
    border-radius: 6%;
    border: none;
    color: black;
    font-family: "Bebas Neue";
    letter-spacing: 4px;
    font-weight: lighter;
    transition: background-color 400ms ease;
    text-decoration: none;
}
  
  input[type=submit]:hover, input[type=submit]:focus{
    background-color: black;
    color:whitesmoke;
  }
 
/* ADD IN THANK YOU PAGE!!!*/

  h2{
    padding: 0px;
    margin: 2px;
  }

  footer{
    height: 55vh;
  }



  @media (min-width: 650px){

    body{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 150px 800px 85px;
    }
    

    .container{
        text-align: center;
        display: grid;
        align-items: center;
        column-gap: 6px;
        grid-template-columns: 90px 92px 92px 92px;
        z-index: 100;
    }


    .contact-content{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    .form-content{
        grid-row: 2/3;
        grid-column: 2/3;
    }

    footer{
        grid-row: 3/4;
        grid-column: 1/3;
    }

   

  }