/* colors: rgb(150, 206, 240); */


.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Bebas Neue";
    grid-template-rows: 80px 1fr 85px ;
}

header{
    grid-row: 1/2;
    grid-column: 1/3;
    position: relative;
}

content{
    grid-row: 2/3;
    grid-column: 1/3;
}

.choice_link{
    text-decoration: none;

}

footer{
    grid-column: 1/4;
}
/* Gallery */ 

.rowsgal{
    row-gap: 5px;
    display: grid;
    padding: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
}

.im1{
    grid-row: 1/2;
    grid-column: 1/2;
}



.imgsg{
    width: 98%;
    transition: .3s ease
}

@media (min-width: 650px){

    .container{
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        grid-template-columns: 90px 92px 92px 92px;
        z-index: 100;
    }

    .one, .two, .three{
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(21, 21, 21);
        padding: 15px 18px;
        font-size: 100%;
        border-radius: 5px;
        color: white;
        letter-spacing: 1px;
        font-family: "Bebas Neue";
        transition: background-color 400ms ease;
        text-decoration: none;
    }
   
}