/* universal adjustments */

h1{
    text-decoration: none;
    
}

h2{
    text-align: center;
    font-weight: lighter;
}

/*grid and placements*/ 
      
 
body{
    display: grid;
    grid-template-rows:  80px 650px 550px 170px 20px 350px 600px 85px;
    background-color: whitesmoke;
}  


.movie-container{
    grid-row: 2/3;
}

.services{
    grid-row: 3/4;
}

.button{
    grid-row: 4/5;
}

.image-booth{
    grid-row: 5/6;
}

#line2{
    grid-row: 6/7;
}

.about{
    grid-row: 7/8;
}

footer{
    grid-row: 8/9;
}


/*front-page video display*/


#wheely{
    width: 7em;
    margin-top: -8%;
}

#car-icon{
    width: 30px;
    margin: -12px;
    margin-left: -16px;
    margin-bottom: 3px;
}


/*movie section continued*/

.movie-container{
    display: flex;    
    align-items: center;
    width: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    justify-content: center;
    position: absolute;
  
}

#over-vid{
    color: whitesmoke;
    font-family: "Bebas Neue";
    font-size: 275%;
    z-index: 100;
    position: absolute;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-bottom: 20px;
    padding-bottom: 0;
    font-weight: bold;
    padding-left: 30px;
}


.background-img{
    height: 85vh;
    width: 100%;
    background-image: linear-gradient(rgba(231, 222, 222, 0.627) 0%,rgba(2, 2, 7, 0.88)), url('/img/Front-Page-lg.mp4');
    justify-content: flex-start;
    align-items: flex-end;
    background-position: 0 0, 50%, 70%;
    background-size: auto, cover;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 0px;
}



/*services section*/

.serv-icon{
    width: 55px;
    padding: 5px;
}

#services-head, #review-head, #top-prof{
    font-weight: bold;
    font-family: "Bebas Neue";
    font-size: 200%;
    margin-bottom: 50px;
    letter-spacing: 5px;
    text-align: center;
}

.row1{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    grid-template-columns: 1fr 1fr;


  }

  .column1{
    grid-column: 1/2;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-color: linear-gradient(45deg, rgba(0, 0, 0, 0.26) 0% 10%,  rgba(219, 210, 210, 0.298)15% 100%);
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    font-size: 120%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .column1-2{
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 120%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
/*image booth*/

.image-booth{
    padding-left: 1.5em;
    display: grid;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.imgs{
    width: 85%;
    transition: .3s ease;
}

.imgs:hover{
    opacity: .85;
}

.img-one{
    grid-column: 1/2;
    grid-row: 1/2

}
.img-two{
    grid-column: 2/3;
    grid-row: 1/2;
}
.img-three{
    grid-column: 3/4 ;
    grid-row: 1/2;
}

#line2{
    background-image: linear-gradient(whitesmoke,  rgba(60, 171, 235, 0.774));
    z-index: -1;
    height: 35vh;
}


/* Quote Button */ 

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn2{
    background-color: rgb(60, 171, 235);
    padding: 18px;
    font-size: 180%;
    border-radius: 6%;
    color: white;
    font-family: "Bebas Neue";
    letter-spacing: 4px;
    font-weight: lighter;
    transition: background-color 400ms ease;
    text-decoration: none;
}

.btn2:hover{
    background-color: rgb(46, 45, 45);
}

/* about section */


.about{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#prof-pic{
    width: 100%;
}


.pic{
    grid-row: 1/2;
    grid-column: 2/3;
    width: 200px;
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid black;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-spacing: 2px ;


}

.text{
    grid-row: 2/3;
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about-text{
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


@media (min-width: 650px){
    
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  80px 630px 530px 250px 10px 450px ;
        background-color: whitesmoke;
    }  
  
    #line2{
        background-image: linear-gradient(whitesmoke,  rgba(60, 171, 235, 0.774));
        z-index: -1;
        height: 42vh;
    }
}

@media (min-width: 812px){

     
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  80px 630px 530px 270px 0px 450px ;
        background-color: whitesmoke;
    }  
  

    #line2{
        background-image: linear-gradient(whitesmoke,  rgba(60, 171, 235, 0.774));
        z-index: -1;
        height:50vh;
    }



    .image-booth{
        padding-left: 2.5em;
        display: grid;
        column-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
}

@media (min-width: 875px){

    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  80px 630px 530px 200px 0px 500px ;
        background-color: whitesmoke;
    }  


    #line2{
        background-image: linear-gradient(whitesmoke,  rgba(60, 171, 235, 0.774));
        z-index: -1;
        height:55vh;
    }


}

@media (min-width: 1000px){
  

    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  80px 630px 530px 200px 0px 600px ;
        background-color: whitesmoke;
    }  


    #line2{
        background-image: linear-gradient(whitesmoke,  rgba(60, 171, 235, 0.774));
        z-index: -1;
        height:65vh;
    }


    .about{
        display: grid;
        grid-template-rows: 1fr;
        padding: 50px;
        grid-template-columns: 100px 300px 1fr 100px;
    }

    #prof-pic{
        width: 100%;
    }


    .pic{
        grid-row: 1/2;
        grid-column: 2/3;
        width: 250px;
        padding: 20px;
        margin-bottom: 10px;
        border: 3px solid black;
        height: 250px;
        justify-content: center;
        align-items: center;
        border-spacing: 2px ;
    }

    .text{
        grid-row: 1/2;
        grid-column: 3/4;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #about-text{
        padding-left: 40px;
        padding-right: 40px;
        text-align: justify;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

}

@media (min-width: 1200px){


    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  80px 700px 530px 200px 0px 700px ;
        background-color: whitesmoke;
    }  


    #line2{
        background-image: linear-gradient(whitesmoke,  rgba(60, 171, 235, 0.774));
        z-index: -1;
        height:80vh;
    }


    .about{
        display: grid;
        grid-template-rows: 1fr;
        padding: 50px;
        grid-template-columns: 25px 400px 1fr 25px;
    }

    #prof-pic{
        width: 100%;
    }


    .pic{
        grid-row: 1/2;
        grid-column: 2/3;
        width: 300px;
        padding: 30px;
        margin-bottom: 10px;
        border: 3px solid black;
        height: 300px;
        justify-content: center;
        align-items: center;
        border-spacing: 2px ;


    }

    .text{
        grid-row: 1/2;
        grid-column: 3/4;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #about-text{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        text-align: justify;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    .image-booth{
        padding-left: 5.5em;
        display: grid;
        column-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }


}


