/* universal adjustments */

h1{
    text-decoration: none;
    background-color: whitesmoke;
    
}

h2{
    text-align: center;
    font-weight: lighter;
}

/*grid and placements*/ 
      
 
body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  30px 700px 500px 150px 700px 85px;
}  

header{
    grid-column: 1/3;
    grid-row: 1/2;
}

.movie-container{
    grid-column: 1/3;
    grid-row: 2/3;
}

.services{
    grid-column: 1/3;
    grid-row: 3/4;
}

.button{
    grid-column: 1/3;
    grid-row: 4/5;
}

.about{
    grid-column: 1/3;
    grid-row: 5/6;
}

footer{
    grid-column: 1/3;
    grid-row: 6/7;
}


/*front-page video display*/



#car-icon{
    width: 30px;
    margin: -12px;
    margin-left: -16px;
    margin-bottom: 3px;
}


/*movie section continued*/


.container{
    margin-bottom: -150px;
}

#over-vid{
    color: whitesmoke;
    font-family: "Bebas Neue";
    font-size: 275%;
    z-index: 100;
    position: absolute;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-bottom: 20px;
    padding-bottom: 0;
    font-weight: bold;
    padding-left: 30px;
}


.background-img{
    grid-column: 1/4;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(231, 222, 222, 0.627) 0%,rgba(2, 2, 7, 0.88)), url('../img/topwidestill.png');
    justify-content: flex-start;
    align-items: flex-end;
    background-position: 0 0, 50%, 70%;
    background-size: auto, cover;
    background-repeat: no-repeat;
    display: flex;
    margin:0;
    padding:0;
}



/*services section*/

.serv-icon{
    width: 55px;
    padding: 5px;
}

#services-head, #review-head, #top-prof{
    font-weight: bold;
    font-family: "Bebas Neue";
    font-size: 200%;
    margin-bottom: 50px;
    letter-spacing: 5px;
    text-align: center;
}

.row1{
    display: grid;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 90px;
    grid-template-columns: 1fr 1fr 1fr;


  }

  .column1{
    grid-column: 1/2;
    text-align: center;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  .column2{
    grid-column: 2/3;
    text-align: center;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

  .column3{
    grid-column: 3/4;
    text-align: center;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
/*image booth*/

.image-booth{
    background-color: rgba(60, 171, 235, 0.584);
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.imgs{
    width: 80%;
    padding: 10px;
    transition: .3s ease;
}

.imgs:hover{
    opacity: .85;
}

.img-one{
    grid-column: 1/2;
    grid-row: 1/2

}
.img-two{
    grid-column: 2/3;
    grid-row: 1/2;
}
.img-three{
    grid-column: 3/4 ;
    grid-row: 1/2;
}

/* Quote Button */ 

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn2{
    background-color: #3cabeb;
    color: black;
    padding: 18px;
    font-size: 150%;
    border-radius: 6%;
    font-family: "Bebas Neue";
    letter-spacing: 4px;
    font-weight: lighter;
    transition: background-color 400ms ease;
    text-decoration: none;
}

.btn2:hover{
    background-color: #000000;
    color: #f5f5f5;
}

/* about section */


.about{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#prof-pic{
    width: 100%;
}


.pic{
    grid-row: 1/2;
    grid-column: 2/3;
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid black;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-spacing: 2px ;


}

.text{
    grid-row: 2/3;
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100%;
}

#about-text{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 90%;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


@media (min-width: 650px){
    
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  80px 700px 500px 150px  700px 85px;
        background-color: whitesmoke;
    }  
  
    .container{
        width: 100%;
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        grid-template-columns: 90px 92px 92px 92px;
        z-index: 100;
    }

    .one, .two, .three{
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(21, 21, 21);
        padding: 15px 18px;
        font-size: 100%;
        border-radius: 5px;
        color: white;
        letter-spacing: 1px;
        font-family: "Bebas Neue";
        transition: background-color 400ms ease;
        text-decoration: none;
    }
   
    .text{
        grid-row: 2/3;
        grid-column: 1/4;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 120%;
    }
    .column1{
        grid-column: 1/2;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-style: solid;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        font-size: 120%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
      }
      .column1-2{
        grid-column: 2/3;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 120%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
      }
    
}

@media (min-width: 812px){
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  80px 780px 550px 150px 700px 85px;
        background-color: whitesmoke;
    }  
     
  
}

@media (min-width: 875px){

    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  80px 780px 550px 150px 700px 85px;
        background-color: whitesmoke;
    }  


}

@media (min-width: 1000px){
  

    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  80px 780px 550px 170px 620px 85px;
        background-color: whitesmoke;
    }  



    .about{
        display: grid;
        grid-template-rows: 1fr;
        padding: 20px;
        margin-top: 50px;
        grid-template-columns: 100px 300px 1fr 100px;
    }

    #prof-pic{
        width: 100%;
    }


    .text{
        grid-row: 1/2;
        grid-column: 3/4;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #about-text{
        margin-left: 40px;
        text-align: justify;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

}

@media (min-width: 1200px){


    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  80px 780px 550px 170px 600px 85px;
        background-color: whitesmoke;
    }  


    .about{
        display: grid;
        grid-template-rows: 1fr;
        padding: 50px;
        grid-template-columns: 25px 400px 1fr 25px;
    }

    #prof-pic{
        width: 100%;
    }


    .pic{
        grid-row: 1/2;
        grid-column: 2/3;
        width: 300px;
        padding: 30px;
        margin-bottom: 10px;
        border: 3px solid black;
        height: 300px;
        justify-content: center;
        align-items: center;
        border-spacing: 2px ;


    }

    .text{
        grid-row: 1/2;
        grid-column: 3/4;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #about-text{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        text-align: justify;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    .image-booth{
        padding-left: 5.5em;
        display: grid;
        column-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }


}


