/* services page */

body{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 80px 40px 1fr 1fr 200px 80px;
}


h1{
    padding:0;

}

header{
    grid-row: 1/2;
    grid-column: 1/3;
}

.price-guide{
    grid-row: 2/3;
    grid-column: 1/3;
}

#guide-text{
    margin-top: 50px;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    font-size: 120%;
    font-family: "Bebas Neue";
}


.button{
    grid-row: 5/6;
    grid-column: 1/3;
    margin-top: 60px;
}

footer{
    padding: 0px;
    grid-row: 6/7;
    grid-column: 1/3;
}


.int{
    margin-top: 40px;
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    padding-left:40px;
    padding-right: 40px;
    grid-row: 3/4;
    grid-column: 1/3;
}

.ext{
    margin-top: 40px;
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    padding-left:40px;
    padding-right: 40px;
    grid-row: 4/5;
    grid-column: 1/3;
}


/*content */

.description{
    font-size: 90%;
    word-spacing: normal;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.one-liner{
    font-size: 90%;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color:  #1376AE;
}


.price{
    font-size: 90%;
    text-align: right;
    margin-top: 0;
    padding-top: 0;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* button */

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn2{
    background-color: rgb(60, 171, 235);
    padding: 18px;
    font-size: 150%;
    border-radius: 6%;
    color: black;
    font-family: "Bebas Neue";
    letter-spacing: 4px;
    font-weight: lighter;
    transition: background-color 400ms ease;
    text-decoration: none;
}

.btn2:hover, .btn2:focus{
    background-color: black;
    color:whitesmoke;
}



@media (min-width: 650px){
    body{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 80px 80px 1fr 200px 80px;
    }
    
    
    h1{
        padding:0;
    
    }
    
    header{
        grid-row: 1/2;
        grid-column: 1/3;
    }
    
    .price-guide{
        grid-row: 2/3;
        grid-column: 1/3;
        justify-content: center;
        align-items: center;
        font-size: 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .button{
        grid-row: 4/5;
        grid-column: 1/3;
        margin-top: 60px;
    }
    
    footer{
        padding: 0px;
        grid-row: 5/6;
        grid-column: 1/3;
    }

.int{
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    padding-left:40px;
    padding-right: 40px;
    grid-row: 3/4;
    grid-column: 1/2;
}

.ext{
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    padding-left:40px;
    padding-right: 40px;
    grid-row: 3/4;
    grid-column: 2/3;
}  


    .container{
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        grid-template-columns: 90px 92px 92px 92px;
        z-index: 100;
    }

    .one, .two, .three{
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #151515;
        padding: 15px 18px;
        font-size: 100%;
        border-radius: 5px;
        color: white;
        letter-spacing: 1px;
        font-family: "Bebas Neue";
        transition: background-color 400ms ease;
        text-decoration: none;
    }
   
}