/* services page */
/* just need to fix alignment of the test */


body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85px 100px 1fr 200px 85px;
}

header{
    grid-row: 1/2;
    grid-column: 1/3;
}

.price-guide{
    grid-row: 2/3;
    grid-column: 1/3;
    align-items: center;
    justify-content: center;
}

.ext{
    margin: 30px;
    grid-row: 3/4;
    grid-column: 2/3;
}

.int{
    margin: 30px;
    grid-row: 3/4;
    grid-column: 1/2;
}

.button{
    grid-row: 4/5;
    grid-column: 1/3;
}

footer{
    padding: 0px;
    grid-row: 5/6;
    grid-column: 1/4;
}

/* price-guide */


#price-guide-header{
    font-size: 120%;
    font-family: "Bebas Neue";
    text-decoration: underline;
    text-underline-offset: 3px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 100px;
    grid-row: 1/2;
    grid-column: 1/3;
    font-weight: lighter;
}

/*content */

.description{
    font-size: 120%;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.one-liner{
    font-size: 120%;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color:  #3cabeb;
}


.price{
    grid-column: 1/2;
    font-size: 100%;
    text-align: right;
    margin-top: 0;
    padding-top: 0;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* button */

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.btn2{
    background-color: rgb(60, 171, 235);
    padding: 18px;
    font-size: 180%;
    border-radius: 6%;
    color: white;
    font-family: "Bebas Neue";
    letter-spacing: 4px;
    font-weight: lighter;
    transition: background-color 400ms ease;
    text-decoration: none;
}

.btn2:hover{
    background-color: rgb(46, 45, 45);
}
