body{
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 230%;
    font-family: "Bebas Neue";
    text-decoration: underline;
    text-underline-offset: 4px;
    letter-spacing: 4px;
    text-align: center;
    padding-bottom: 10px;
}


h2{
    font-size: 170%;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    text-align: justify;
    font-weight: lighter;
}

/* header */


#wheely{
    width: 100px;
    margin-right: 10px;
    padding-right: 0px;
    margin-left: 0px;
    padding-bottom: 10px;
    grid-column: 1/2;
}


.container{
    width: 100%;
    text-align: left;
    display: grid;
    align-items: center;
    justify-content: left;
    column-gap: 5px;
    grid-template-columns: 90px 80px 80px 80px;
    z-index: 100;
}

#wheely{
    grid-column: 1/2;
}
.one{
    grid-column: 2/3;
}

.two{
    grid-column: 3/4;
}

.three{
    grid-column: 4/5;
}

.one, .two, .three{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 21, 21);
    padding: 12px;
    font-size: 80%;
    border-radius: 5px;
    color: #f5f5f5;
    letter-spacing: 1px;
    font-family: "Bebas Neue";
    transition: background-color 400ms ease;
    text-decoration: none;
}

.one:hover, .two:hover, .three:hover{
    background-color: rgb(60, 171, 235);
    color:black;
}

.one:focus, .two:focus, .three:focus{
    background-color: #3cabeb;
    color:black;
}


footer{
    background-image: linear-gradient(whitesmoke,  rgba(60, 171, 235, 0.774));
    height: 200%;
    padding: 0px;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: black;

}
.foot{
    text-align: center;
    justify-content: center;
    align-items: center;
}

#foot-text{
    text-align: center;
    font-size: 60%;
    padding-top: 0px;
    margin-top: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#foot-wheely{
    width: 7em;
    margin-top: 5px;
}
