body{
    background-color: whitesmoke;
}

h1{
    font-size: 230%;
    font-family: "Bebas Neue";
    text-decoration: underline;
    text-underline-offset: 4px;
    letter-spacing: 4px;
    text-align: center;
    padding-bottom: 10px;
}


h2{
    font-size: 170%;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    text-align: justify;
    font-weight: lighter;
}

/* header */


#wheely{
    width: 100px;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 0px;
    padding-bottom: 10px;
    grid-column: 1/2;
}

.container{
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    z-index: 100;
}

.one{
    grid-column: 2/3;
}

.two{
    grid-column: 3/4;
}

.three{
    grid-column: 4/5;
}

.one, .two, .three{
    margin-left:10px;
    background-color: rgb(21, 21, 21);
    padding: 16px;
    text-align: center;
    font-size: 120%;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    font-family: "Bebas Neue";
    transition: background-color 400ms ease;
    text-decoration: none;
}

.one:hover, .two:hover, .three:hover{
    background-color: rgb(60, 171, 235);
    color:black;
}

.one:focus, .two:focus, .three:focus{
    background-color: rgb(60, 171, 235);
    color:black;
}


footer{
    display: grid;
    background-image: linear-gradient(whitesmoke,  rgba(60, 171, 235, 0.774));
    grid-column: 1fr 1fr 1fr;
    height: 20vh;
    align-items: center;
    justify-content: center;
    color: black;

}
.foot{
    text-align: center;
}

#foot-text{
    text-align: center;
    font-size: 60%;
    padding-top: 0px;
    margin-top: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#foot-wheely{
    width: 7em;
    margin-top: 5px;
}
