body{
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 210%;
    font-family: "Bebas Neue";
    text-underline-offset: 4px;
    letter-spacing: 4px;
    text-align: center;
    background-color: #80BBE9;
    padding-bottom: 10px;
}


h2{
    font-size: 170%;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    text-align: justify;
    font-weight: lighter;
}

h3{
    font-family: "Bebas Neue";
    letter-spacing: 1px;
    text-align: justify;
    margin:40px;
    font-weight: 20;
}

/* header */


#wheely{
    width: 100px;
    margin-right: 10px;
    padding-right: 0px;
    margin-left: 0px;
    grid-column: 1/2;
}


.container{
    width: 100%;
    text-align: left;
    display: grid;
    align-items: center;
    justify-content: left;
    column-gap: 5px;
    grid-template-columns: 90px 80px 80px 80px;
    z-index: 100;
    background-image: linear-gradient(rgba(245, 245, 245, 0.854) 30%, #80BBE9);
}

#wheely{
    grid-column: 1/2;
}

.one{
    grid-column: 2/3;
}

.two{
    grid-column: 3/4;
}

.three{
    grid-column: 4/5;
}

.one, .two, .three{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 21, 21);
    padding: 12px;
    font-size: 100%;
    border-radius: 15px;
    color: #f5f5f5;
    letter-spacing: 1px;
    font-family: "Bebas Neue";
    transition: background-color 400ms ease;
    text-decoration: none;
}

.one:hover, .two:hover, .three:hover{
    background-color: #80BBE9;
    color:black;
}

.one:focus, .two:focus, .three:focus{
    background-color: #80BBE9;
    color:black;
}


footer{
    background-image: linear-gradient( #80BBE9, whitesmoke);
    padding: 0px;
    height: 60vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: black;

}
.foot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:160px 200px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#foot-text{
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
    font-size: 70%;
    padding-top: 0px;
    margin-top: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#foot-wheely{
    display: block;
    grid-column: 1/2;
    grid-row: 2/3; 
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}


.fill-form-bottom{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    grid-row: 1/3;
    grid-column: 2/4;
}

label{
    margin-top: 20px;
    font-size: 100%;
    font-family: "Bebas Neue";
    letter-spacing: 1px;
    text-align: left;
    font-weight: lighter;
}


input[type=text], select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }


input[type=email], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

textarea{
    width: 100%;
    padding: 5px;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}
  

  input[type=submit] {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    font-size: 90%;
    border-radius: 6%;
    border: none;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    font-weight: lighter;
    transition: background-color 400ms ease;
    text-decoration: none;
}


  input[type=submit]:hover, input[type=submit]:focus{
    background-color: black;
    color:whitesmoke;
  }

  .insta-footer{
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

#insta-text-footer{
    text-decoration: none;
    color: black;
    font-family: "Bebas Neue";
    font-size: 100%;
    letter-spacing: 1px;
    display: flex;
}

#insta-text-footer:hover{
    color:#80BBE9;
}


#insta-box-footer{
    width: 20px;
    padding-right: 5px;
    padding-left: 10px;
}

#contact-header{
    text-align: center;
    padding-left: 10px;

}
 
.contact-info{
    text-decoration: none;
    color: black;
    font-family: "Bebas Neue";
    font-size: 100%;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 10px;
}

#footer-contact-text{
    margin-top: 50px;
}

@media (min-width: 600px){
    .container{
        width: 100%;
        text-align: left;
        display: grid;
        align-items: center;
        background-color: orange;
        justify-content: left;
        column-gap: 5px;
        grid-template-columns: 90px 80px 80px 80px;
        z-index: 100;
        background-image: linear-gradient(rgba(245, 245, 245, 0.854) 30%, #80BBE9);
    }
}